@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  margin: 0 !important;
  padding: 0 !important;
  display: none;
}

.screen {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: radial-gradient(
    circle at center,
    transparent 0%,
    rgba(117, 19, 19, 0.1) 50%,
    rgba(117, 19, 19, 0.4) 75%,
    rgba(117, 19, 19, 0.6) 100%
  );
}

.screen > .text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.timer {
  position: absolute;
  font-size: 2rem;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.pulse {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pulse {
  stroke-dasharray: 281;
  -webkit-animation: dash 2.5s infinite linear forwards;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 814;
  }
  to {
    stroke-dashoffset: -814;
  }
}
